* {
    box-sizing: border-box;
  }
  body {
    font-family: 'PT Sans', sans-serif;
    background-color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #4a4a4a;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }
  img {
    width: 100%;
  }
  nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  nav > ul > li > a:visited { /* visited link */
    color: #9c08af;
  }
  nav > ul > li > a:hover {
    color: #cc6540;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  nav > ul > li > a:active { /* selected link */
    color: #07b818;
  }
  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #bbea2f;
    color: #070707; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    /*border-bottom: 2px solid #994c30;  width of the border, type, color */
    transition: 0.2s opacity;
    
  }
  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
    transition-property: opacity;
  }
  .button.contact {
    background-color: transparent;
    color: #ff7f50;
    text-transform: uppercase;
    border: 2px solid #ff7f50;
  }
  .button.contact:hover {
    background-color: #ff7f50;
    color: #ffffff;
  }
  header {
    background-color: #ff44c4;
    padding: 10px 0 4px;
    /* margin: 10px;  */
    border-bottom: 3px solid #4a4a4a;
    position: fixed;
  }
  selector {
    margin: 0 auto; 
    /* No spacing to top and bottom and auto spacing to left and right */
  }

  /* Layout styling */

  .container {
    padding: 0 15px;
  }
  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }
  #work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }
  #hero h1 {
    text-align: center; /* Centers text */
  }
  .logo {
    max-width: 150px;
    text-align: center;
  }
  header {
    background-color: #ffe4c4;
    /* text-align: center; */
    /* padding: 10px 0; */
    position: fixed;
    width: 100%;
  }
  nav > ul {
    list-style-type: none;
    padding: 0;
  }
  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
  }
  .navtoggle li:not(:last-child) {
    display: none;
  }
  .navtoggle, .navtoggle.responsive {
    position: relative;
  }
  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
    padding-right: 0;
  }
  .navtoggle.responsive li  {
    display: block;
  }
  .navtoggle.responsive nav {
    padding: 24px 0 0;
  }
  .navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(255,127,80,0.5);
  }
  
  .navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
  }
 
  #hero {
    background-color: #ffe4c4;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
  }
  .css-box-shadow{
	/*start ------------*/
	width: [object Object]px; 
	height: [object Object]px; 
	background: #F8F8F8; 
	border: solid #FFFFFF 1px; 
	box-shadow: 16px 25px 85px rgba(82, 74, 82, 0.5)  ; 
	-webkit-box-shadow: 16px 25px 85px rgba(82, 74, 82, 0.5)  ; 
	-moz-box-shadow: 16px 25px 85px rgba(82, 74, 82, 0.5)  ; 
}
main {
    padding-top: 310px;
  }
  [class*="col-"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 50px 0 13px;
  }
  .logo {
    max-width: 250px;
    text-align: center;
  }
  nav > ul > li {
    display: inline-block;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }
  nav > ul {
    margin: 1em 0;
  }
  
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
    font-size: 18px;
  }
  #hero span {
    display: block;
  }
  .col-md-6 {
    width: 50%;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  #about-page h3 { margin-top: 0;}
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .col-lg-5 {
    width: 40%;
  }
  .col-lg-7 {
    width: 60%;
  }

 
  
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
} 
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}